:root {
  /* Point Pico CSS to the variable created in your astro.config */
  --pico-font-family: var(--font-outfit), sans-serif;

  /* Default is 1rem (16px). Increasing to 1.5rem scales up overall padding & margins */
  /* --pico-spacing: 1.5rem; */

  /* Vertical space between major layout blocks, cards, and sections */
  /* Default scales around 2rem to 3rem; bump it for a airier layout */
  --pico-block-spacing-vertical: 6rem;
  /* --pico-font-size: 110%; */
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
